<div data-role="page" id="geo_demo_page">
    <div data-role="header" data-position="fixed">
    <h4>Geo Demo</h4>
  </div>
  <div class="ui-content" role="main">
    <ul data-role="listview"
      id="geo_demo_list">

    </ul>
  </div>
  <div data-role="footer" data-position="fixed">
    <div data-role="navbar">
      <ul>
        <li>
          <a id="btn_guardar">Guardar <span id="geo-demo-loc"></span></a>
        </li>
      </ul>
    </div>
  </div>
</div>